<app-header></app-header>
<div class="container">
  <header class="jumbotron">
    <div class="container emp-profile" >
      <form method="post">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-head">
              <h2 style="color: blue">
                <strong>TẠO CA SĨ</strong>
              </h2>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
              <div style="margin-left: 50px">

                <div>
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-2">
                      <label>Tên bài</label>
                    </div>
                    <div class="col-md-10">
<!--                      <input type="text" [(ngModel)]="userDetail.name" name="name">-->
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-2">
                      <label>Ca sĩ</label>
                    </div>
                    <div class="col-md-10">
<!--                      <input type="text" [(ngModel)]="userDetail.address" name="address">-->
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-2">
                      <label>File nhạc</label>
                    </div>
                    <div class="col-md-10">
<!--                      <input type="file"  [(ngModel)]="userDetail.tel" name="tel">-->
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-2">
                      <label>Avatar</label>
                    </div>
                    <div class="col-md-10">
<!--                      <input type="file"  [(ngModel)]="userDetail.tel" name="tel">-->
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-2">
                      <label>Lời bài hát</label>
                    </div>
                    <div class="col-md-10">
                      <label>
<!--                        <textarea cols="75" rows="20"  [(ngModel)]="userDetail.tel" name="tel"></textarea>-->
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 50px">
                    <div class="col-md-3">
                      <div class="row">
<!--                        <input type="submit" (click)="editSuccess()" class="profile-edit-btn" name="btnAddMore" value="Xác nhận chỉnh sửa"/>-->
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
<!--                        <input type="submit" (click)="cancelEdit()" class="profile-edit-btn" name="btnAddMore" value="Huỷ bỏ"/>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </header>
</div>


<app-footer></app-footer>
