
<div class="row">
  <!-- Moi cap nhat -->
  <div class="col-md-4">
    <img style="margin-bottom: 20px" src="../../assets/ascs.JPG" height="300" width="300"/>
    <strong style=" margin-top: 10px; margin-left: 37px;font-size: 20px;color: blue ">Top 10 bài hát hay nhất</strong>
    <br>
    <small style=" margin-top: 10px; margin-left: 94px;">Cập nhật hàng ngày</small>
    <button style=" margin-top: 5px; margin-left: 78px; border-radius: 50px" type="button" class="btn btn-danger">Phát ngẫu nhiên</button>

  </div>

  <div class="col-md-8">
    <div *ngFor="let song of listSongMostLike; let i = index">
      <div class="row" style="margin-top: 20px;">
        <strong style="font-size: 40px; margin-top: 16px; margin-right: 30px; color: red">{{i+1}}.</strong>
        <img style=" margin-right: 15px" width="50px" height="50px" src="{{song.avatar}}" alt="">
        <div class="media-body">
        <h4 style="color: blue;margin: 0"><a [routerLink]="['/song/'+song.id]">{{song.name}}</a></h4>
          <small>{{song.author}}</small>
        </div>
        <strong style="color: red; margin-right: 50px; margin-top: 12px"><i class="fas fa-heart" style="margin-right: 3px"></i>{{listNumberOfLike[i]}}</strong>
        <!--<div class="media-body">
          <h4 class="mt-0 mb-1"><a [routerLink]="['/song/'+song.id]">{{song.name}}</a></h4>
          <small>{{song.author}}</small>
        </div>-->
      </div>
      <hr>
    </div>
  </div>
  </div>
  <div class="container-fluid mt-4">

  <!--</div>-->
</div>

