<app-header></app-header>
<div class="container">
  <header class="jumbotron">
    <div class="container emp-profile" >
      <form method="post">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-head">
              <h2 style="color: blue">
                <strong>TẠO BÀI HÁT</strong>
              </h2>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tab-content profile-tab" id="myTabContent">
              <div style="margin-left: 50px">

                <form (ngSubmit)="submit()">
                  <div>
                    <div class="row" style="margin-bottom: 25px">
                      <div class="col-md-2">
                        <label>Tên bài</label>
                      </div>
                      <div class="col-md-10">
                        <label>
                          <input type="text" [(ngModel)]="song.name" name="name">
                        </label>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: 25px">
                      <div class="col-md-2">
                        <label>Ca sĩ</label>
                      </div>
                      <div class="col-md-10">
                        <select  [(ngModel)]="song.singers" name="singers">
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: 25px">
                      <div class="col-md-2">
                        <label>File nhạc</label>
                      </div>
                      <div class="col-md-10">
                        <input type="file"  [(ngModel)]="song.file" name="file">
                      </div>
                    </div>
                    <div class="row" style="margin-bottom: 25px">
                      <div class="col-md-2">
                        <label>Avatar</label>
                      </div>
                      <tr>
                        <td><label for="avatar">Avatar</label></td>
                        <td><input type="file" id="avatar" (change)="showPreview($event)"></td>
                      </tr>
                    </div>
                    <div class="row" style="margin-bottom: 25px">
                      <div class="col-md-2">
                        <label>Lời bài hát</label>
                      </div>
                      <div class="col-md-10">
                        <label>
                          <textarea cols="75" rows="20"  [(ngModel)]="song.lyric" name="lyric"></textarea>
                        </label>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 50px">
                      <div class="col-md-3">
                        <div class="row">
                          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Thêm bài hát"/>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <input type="button" (click)="cancel()" class="profile-edit-btn" name="btnAddMore" value="Huỷ bỏ"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </header>
</div>


<app-footer></app-footer>
